<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.register.application">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppInitializer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_">
        <activity
            android:name=".MainScreenLayoutActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterClientsScreenActivity"
            android:label="@string/title_activity_register_clients_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterEmployeesScreenActivity"
            android:label="@string/title_activity_register_employees_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterProvidersScreenActivity"
            android:label="@string/title_activity_register_providers_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClientsDetailsActivity"
            android:label="@string/title_activity_clients_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EmployeeDetailsActivity"
            android:label="@string/title_activity_employee_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProvidersDetailsActivity"
            android:label="@string/title_activity_providers_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProductsDetailsActivity"
            android:label="@string/title_activity_products_details"
            android:theme="@style/AppTheme_.NoActionBar" />
        <activity
            android:name=".RegisterProductsScreenActivity"
            android:label="@string/title_activity_register_products_screen"
            android:theme="@style/AppTheme_.NoActionBar" />
        <activity
            android:name=".RegisterBillsToPayScreenActivity"
            android:label="@string/title_activity_register_bills_to_pay_screen"
            android:theme="@style/AppTheme_.NoActionBar" />
        <activity
            android:name=".BillsToPayDetailsActivity"
            android:label="@string/title_activity_bills_to_pay_details"
            android:theme="@style/AppTheme_.NoActionBar" />
        <activity
            android:name=".RegisterBillsToReceiveScreenActivity"
            android:label="@string/title_activity_register_bills_to_receive_screen"
            android:theme="@style/AppTheme_.NoActionBar"></activity>
    </application>

</manifest>